header {
    display: flex;
    align-items: center;
    background-color:  rgb(11, 90, 77);
    height: 65px;
    min-width: 1024px;
}

header nav li{
    display: flex;
    float: left;
    margin-left: 3.7em;
    margin-right: 0.6em;
    margin-top: 5px;
    font-size: 15px;
}

.logo{
    width: 38px;
    height: 38px;
    margin-top: 10px;
    margin-left: 9.5em;
}
