main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(../image/wave.svg) no-repeat 0 50%;
    background-color: #0F7562;
}

section {
    position: absolute;
    top: 4.5%;
    left: 36%;
    width: 27%;
    height: 80%;
    background-color: white;
    border-radius: 0.5em;
}

main h2 {
    font-size: 2em;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
    margin-left: 1.5em;
}

main p {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 2.5em;
}

.man_image{
    position: absolute;
    top: 33%;
    height: 50%;
    width: 13%;
    left: 17%;
}

.woman_image{
    position: absolute;
    top: 33%;
    height: 50%;
    width: 19%;
    left: 70%;
}

form {
    display: block;
    margin-right: 6em;
}

form p {
    margin-top: 1em;
}

form input{
    font-size: 1.2em;
    margin-left: 2.5em;
    width: 100%;
    height: 2.3em;
    border-radius: 0.3em;
    border: 1px solid#DDDDDD;
}

form button {
    margin-top: 1.5em;
    margin-left: 3.5em;
    width: 100%;
    height: 3.5em;
    color: white;
    background-color: #0F7562;
    border-radius: 0.3em;
    border: 1px solid#DDDDDD;
}

form button:hover{
    background-color: gray;
}
